<h1>Register</h1>
    <form action="../updatedata/{{ reg.id }}" method="post">
    {% csrf_token %}
    Name
    <input type="text" name="name" value="{{ reg.name }}" id="name" placeholder="Name">
    <br> Phone
    <input type="text" name="phone" value="{{ reg.phone }}" id="phone" placeholder="Phone">
    <br> Email
    <input type="email" name="email"value="{{ reg.email }}" id="email" placeholder="Email">
    <br> Username
    <input type="text" name="uname" value="{{ reg.username }}"id="uname" placeholder="Username">
    <br> Password
    <input type="password" name="password"value="{{ reg.password }}" id="password">
    <br> <button type="submit">Submit</button>
    </form>