<html>
<body>
    <h1>View all users</h1>
    <table border=1 width=700>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Username</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
        {% for r in reg %}
        <tr>
            <td>{{ r.name }}</td>
            <td>{{ r.phone }}</td>
            <td>{{ r.email }}</td>
            <td>{{ r.username }}</td>
            <td><a href="{% url 'updatereg' r.id %}"> Update</a>
            <td> <a href="{% url 'deletereg' r.id %}>Delete</a>
        </tr>
        {% endfor %}
</body>
</html>
